[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nonparTrendR"]
	path = nonparTrendR
	url = https://github.com/cran/nonparTrendR
